.summary {
  display: flex;
  justify-content: center;

  .summaryTextHeader {
    color: #ffa726;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 10px 5px;
  }
  .summaryText {
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 10px 5px;
  }
}
