.container {
  z-index: 100;
  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    .item {
      padding: 5px 0.9rem;
      text-decoration: none;
      color: #fff;
      font-family: 'Work Sans', sans-serif;
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0px;
      text-transform: capitalize;
      text-shadow: 0px 0px 0 #007a94, 1px 0px 0 #007a94,
        2px 0px 1px rgba(0, 0, 0, 0), 3px 0px 1px rgba(0, 0, 0, 0.5),
        0px 0px 1px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        color: #ffa726;
        text-shadow: 3px 0px 1px rgba(0, 0, 0, 0.5);
      }
    }
    .active {
      color: #ffa726;
      text-shadow: 3px 0px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
