.container {
  display: flex;
  align-items: center;
  .block {
    display: flex;
    text-decoration: none;
    border-radius: 50%;
    background: #3f51b5;
    font-weight: 700;
    color: #fff;
    font-size: 0.8rem;
    margin: 5px;
    width: 1.1rem;
    height: 1.1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #7f95f9;
    }
    .symbol {
      font-size: 0.7rem;
      line-height: 0.7rem;
    }
  }
}
