.container {
  color: #202020;
  flex-grow: 1;
  display: flex;
  background-color: #eeeeee;

  .body {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin: 10px;
  }
}
