html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  html,
  body,
  #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }
}
