.container {
  background-color: #eeeeee;
  .body {
    background-color: #555;

    .brand {
      flex-grow: 1;
      margin-left: 1.8rem;
      font-size: 1.4rem;

      .firstPart {
        color: #ffa726;
      }

      .secondPart {
        color: #6f9fec;
      }
    }
  }
}
