.container {
  color: #202020;
  flex-grow: 1;
  display: flex;
  background-color: #eeeeee;

  a {
    text-decoration: none;
  }

  .body {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin: 10px;

    .header {
      text-align: center;
      text-transform: capitalize;
      border-bottom: 1px solid #000;
    }

    .btn {
      color: #f4a427;
      font-size: 18px;
      font-weight: 500;
      margin: 0 10px 0 10px;
    }

    .containerImg {
      text-align: center;
      height: 300px;

      .img {
        height: 300px;
      }
    }

    .tabs span {
      font-size: 14px;
      font-weight: 900;
    }

    .content {
      padding: 15px;
    }
  }
}
