.container {
  color: #202020;
  flex-grow: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;

  .block {
    margin: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    align-items: center;
  }
  .header {
    color: #ffa726;
    font-weight: 700;
    font-size: 0.8rem;
  }

  .btn {
    display: block;
    text-decoration: none;
    border-radius: 8px;
    background: #3f51b5;
    font-weight: 700;
    color: #fff;
    font-size: 0.8rem;
    padding: 8px;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
      background-color: #7f95f9;
    }
  }
}
